@charset "utf-8";
/* common layout */
section {position: fixed; top: 0; bottom: 0; left: 0; right: 0; overflow: auto; transition: 0.3s;}
section#intro {position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999; background-color: #282727; background-image: url(../images/intro_bg_01.png), url(../images/intro_bg_02.png); background-position: center 42.9px, center 42.9px; background-size: contain;}
section#profile {background-color: #fff;}
section#works {background-color: #282727; display: none;}

section > div.header {position: fixed; display: table; width: 100%; height: 70px; top: 0; z-index: 9998;}
section#profile div.header {padding-right: 130px; background-color: #fff;}
section#works > div.header {padding-left: 130px; padding-right: 0; background-color: #282727;}
section > div.header > h2 {display: table-cell; text-align: center; vertical-align: middle; font-size: 32px; font-weight: bold; color: #b99458;}
@media (max-width: 767px) {
  section > div.header {padding: 0 !important;}
  section > div.header > h2 {font-size: 24px;}
}

section > div.nav {position: fixed; top: 0; width: 130px; height: 100%; z-index: 9998; cursor: pointer; transition: 0.5s;}
section#profile > div.nav {right: 0; background: #282727;}
section#works > div.nav {left: 0; background: #fff;}
section > div.nav:hover {width: 160px;}
section > div.nav > p {position: absolute; top: 50%; width: 200%; left: -50%; font-size: 18px; text-align: center; color: #b99458; letter-spacing: 1px; transition: 0.5s; transform: translate3d(0, -50%, 0) rotate(-90deg);}
section > div.nav > p > span.arrow {position: absolute; opacity: 0; transition: 0.5s; left: 50%; transform: rotate(90deg); font-size: 22px; text-align: center; color: #b99458;}
section#profile > div.nav > p > span.arrow {top: -150%;}
section#works > div.nav > p > span.arrow {top: 150%;}
section > div.nav:hover > p > span.arrow {opacity: 1;}
@media (max-width: 767px) {
  section > div.nav {display: table; width: 100%; height: 50px; top: auto; bottom: 0;}
  section > div.nav:hover {width: 100%; height: 80px;}
  section > div.nav > p {position: relative; display: table-cell; vertical-align: middle; top: auto; width: auto; left: auto; transform: none;}
  section > div.nav > p > span.arrow {display: none;}
}

section > div.container {position: relative; margin-top: 70px; margin-bottom: 70px;}
section#intro > div.container {display: table; width: 100%; height: 100%; margin: 0;}
section#profile > div.container {margin-right: 130px;}
section#works > div.container {margin-left: 130px;}
section > div.container > div.content {position: relative; overflow: hidden; max-width: 1480px; width: 100%; margin: 0 auto; padding: 100px 0;}
section#profile > div.container > div.content {padding-left: 240px;}
section#intro > div.container > div.content {position: relative; display: table-cell;  width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; text-align: center; vertical-align: middle; z-index: 3;}
section#profile > div.container > div#visual.content {padding: 200px 0;}
section#profile > div.container > div#profile.content {background-color: #fefef0}
section#profile > div.container > div#skill.content {background-color: #f4f4e7;}
section > div.container > div.content > h1 {color: #fff; font-size: 12px; font-weight: 400; letter-spacing: 1px;}
section > div.container > div.content > h1 > strong {font-size: 80px;}
section > div.container > div.content > h2.visual_title {position: relative; overflow: hidden;}
section > div.container > div.content > h2.visual_title > p.content_number {float: right; font-size: 8vw; font-weight: bold; transform: translateY(0vw) rotate(-90deg);}
section > div.container > div.content > h2.visual_title > p.content_title {font-size: 8vw; font-weight: bold; text-transform: uppercase; line-height: 0.9; letter-spacing: -0.5vw; color: #b99458;}
section > div.container > div.content > h2.visual_title > p.content_description {width: 40%; float: right; margin-top: 50px; font-size: 1.2vw; font-weight: bold; color: #6d6963;}
section > div.container > div.content > h2.content_title {position: absolute; text-align: center; top: 200px; left: 0; font-size: 32px; font-weight: bold; color: #b99458; transform: rotate(-90deg);}
section > div.container > div.content > hr.content_smallbar {position: absolute; display: block; width: 80px; height: 8px; background-color: #b99458;}
section > div.container > div.content > p {font-size: 12px; color: #6d6963; letter-spacing: 1px;}
section > div.container > div.cover {position: absolute; top: 50%; width: 100%; height: 0; left: 0; z-index: 2; background: #000; transition: all 3s ease;}
section > div.container > div.content > div.content_container {position: relative; overflow: hidden; font-size: 18px; line-height: 2;}
section#profile > div.container > div.content > div.content_container {margin-top: 25px;}
section > div.container > div.content > div.content_container > p {font-weight: bold; color: #6d6963;}
section > div.container > div.content > div.content_container > div.content_box {position: relative;}
section#profile > div.container > div.content > div.content_container > div.content_box {margin-top: 30px;}
section#works > div.container > div.content > div.content_container > div.content_box {float: left; width: 50%; padding: 0.5%;}
section > div.container > div.content > div.content_container > div.content_box > h3 {color: #000;}
section > div.container > div.content > div.content_container > div.content_box > p {position: relative;}
section > div.container > div.content > div.content_container > div.content_box > p > span {display: inline-block; width: 150px; font-weight: bold; color: #000;}
section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner {padding: 20px; border: 1px solid #fff;}
section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner > div.works_description {padding: 10px; background-color: #fff;}
section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner > div.works_description > p {position: relative; padding-left: 150px;}
section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner > div.works_description > p > span {position: absolute; left: 0; width: 150px; font-weight: bold; color: #000;}
@media (max-width: 767px) {
  section > div.container {margin: 70px 0 50px !important;}
  section#intro > div.container {margin: 0 !important;}
  section > div.container > div.content {padding: 50px 30px !important;}
  section > div.container > div.content > h1 > strong {font-size: 14vw;}
  section > div.container > div.content > h2.content_title {position: relative; text-align: left; top: auto; left: auto; transform: none;}
  section > div.container > div.content > h2.visual_title > p.content_title {font-size: 18vw;}
  section > div.container > div.content > h2.visual_title > p.content_description {width: 70%; font-size: 14px;}
  section > div.container > div.content > p {font-size: 11px;}
  section#works > div.container > div.content > div.content_container > div.content_box {width: 100%;}
  section > div.container > div.content > div.content_container > div.content_box > p {padding: 0; margin-bottom: 10px; line-height: 1;}
  section > div.container > div.content > div.content_container > div.content_box > p > span {position: relative; display: block; font-size: 14px; line-height: 1.6;}
  section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner > div.works_description > p {padding: 0; margin-bottom: 10px; line-height: 1.2;}
  section > div.container > div.content > div.content_container > div.content_box > div.content_box_inner > div.works_description > p > span {position: relative; display: block; font-size: 14px; line-height: 1.6;}
}

section.content-hidden > div.container > div.cover.top {top: 0; height: 50%;}
section.content-hidden > div.container > div.cover.bottom {top: 49%; height: 51%;}

div.cover {position: absolute; top: 0; width: 0; height: 100%; background-color: #fff; z-index: 9998; transition: 0.3s all;}
div.cover.switch {width: 50%;}
div.cover.left {left: 0;}
div.cover.right {right: 0;}
div.cover.works {background-color: #282727}
div.cover.profile {background-color: #fff;}
